/*

C3.ME Grid System


*/


@media only screen and (min-width : 480px) {

.w-1{}
.w-2{}
.w-3{}
.w-4{}
.w-5{}
.w-6{}
.w-7{}
.w-8{}
.w-9{}
.w-10{}
.w-11{}
.w-12{}
.w-13{}
.w-14{}
.w-15{}
.w-16{}
.w-17{}
.w-18{}
.w-19{}
.w-20{}
.w-21{}
.w-22{}
.w-23{}
.w-24{}

}

@media only screen and (min-width : 640px) {

.w-1{}
.w-2{}
.w-3{}
.w-4{}
.w-5{}
.w-6{}
.w-7{}
.w-8{}
.w-9{}
.w-10{}
.w-11{}
.w-12{}
.w-13{}
.w-14{}
.w-15{}
.w-16{}
.w-17{}
.w-18{}
.w-19{}
.w-20{}
.w-21{}
.w-22{}
.w-23{}
.w-24{}

}

@media only screen and (min-width : 960px) {

.grid, .w-1, .w-2, .w-3, .w-4, .w-5, .w-6, .w-7, .w-8, .w-9, .w-10, .w-11, .w-12, .w-13, .w-14, .w-15, .w-16, .w-17, .w-18, .w-19, .w-20, .w-21, .w-22, .w-23, .w-24 {
  float: left;
  margin-right: 10px;
}

.w-1 {width:30px;}
.w-2 {width:70px;}
.w-3 {width:110px;}
.w-4 {width:150px;}
.w-5 {width:190px;}
.w-6 {width:230px;}
.w-7 {width:270px;}
.w-8 {width:310px;}
.w-9 {width:350px;}
.w-10 {width:390px;}
.w-11 {width:430px;}
.w-12 {width:470px;}
.w-13 {width:510px;}
.w-14 {width:550px;}
.w-15 {width:590px;}
.w-16 {width:630px;}
.w-17 {width:670px;}
.w-18 {width:710px;}
.w-19 {width:750px;}
.w-20 {width:790px;}
.w-21 {width:830px;}
.w-22 {width:870px;}
.w-23 {width:910px;}
.w-24 {width:950px;margin-right:0;}

}

@media only screen and (min-width : 1024px) {

.w-1{}
.w-2{}
.w-3{}
.w-4{}
.w-5{}
.w-6{}
.w-7{}
.w-8{}
.w-9{}
.w-10{}
.w-11{}
.w-12{}
.w-13{}
.w-14{}
.w-15{}
.w-16{}
.w-17{}
.w-18{}
.w-19{}
.w-20{}
.w-21{}
.w-22{}
.w-23{}
.w-24{}

}

@media only screen and (min-width : 1140px) {

.w-1{}
.w-2{}
.w-3{}
.w-4{}
.w-5{}
.w-6{}
.w-7{}
.w-8{}
.w-9{}
.w-10{}
.w-11{}
.w-12{}
.w-13{}
.w-14{}
.w-15{}
.w-16{}
.w-17{}
.w-18{}
.w-19{}
.w-20{}
.w-21{}
.w-22{}
.w-23{}
.w-24{}

}